*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #122;
}

#contentWrapper {
    margin-top: 1em;
    margin-left: 1em;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    margin-right: auto;
    width:  98%;
    height: 90%;
    background-color: #222;
}

.GUIbtn {
    background-color: #244;
    border: 2px solid #133;
    width: 5em;
    height: 2.5em;
    margin-top: 0.4em;
    margin-right: 0.6em;
    position: relative;
    transition: 0.3s;
}

#run_button::before {
    content: url(./ASSETS/build&run.svg);
    width: 50%;
    top: -2.5%;
}

#run_button:hover::before {
    content: url(./ASSETS/build&run_hover.svg);
}

#print_button::before {
    content: url(./ASSETS/print.svg);
    width: 45%;
    top: 2%;
}

#print_button:hover::before {
    content: url(./ASSETS/print_hover.svg);
}

.GUIbtn::before {
    display: block;
    position: absolute;
    left: 25%;
}

.GUIbtn:hover {
    border-color: #266;
}