*, *::before, *::after {
    box-sizing : border-box;
}

:root{
    --bg-col: #1c1e2d;
    --lineCounter-nums-col: #506882;
    --idle-text-col: rgb(231, 231, 231);
    --keyword-col: rgb(255, 220, 80);
    --str-col: rgb(48, 253, 249);
    --num-col: rgb(227, 93, 207);
    --constant-col: var(--num-col);
    --stackOp-col: rgb(68, 255, 54);
    --iterator-col: rgb(0, 129, 121);
    --specifier-col: var(--keyword-col);
    --me-col: rgb(190, 143, 255);
    --comment-col: rgb(55, 54, 64);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--bg-col);
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    color: var(--idle-text-col);
}

input[type="text"] {
    font-weight: bold;
    color: var(--idle-text-col);
    padding: .25rem;
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.editorContainer {
    position: relative;
    margin: .5rem;
    width : calc(100% - 1rem);
    min-height : 80%;
    --lineCounter-space : 3rem;
    --current-line-ID : 1;
}

.editorContainer > * {
    position: absolute;
    height : 100%;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    padding-top: .5rem;
    line-height: 1.5rem;
    overflow: hidden;
}

.editorContainer > .editor, .shownEditor {
    width : 100%;
    padding-left: var(--lineCounter-space);
}

.editorContainer > .lineCounter {
    width : calc(var(--lineCounter-space) * 0.8);
    text-align: right;
    padding-right: calc(var(--lineCounter-space) * 0.2);
    color: var(--lineCounter-nums-col);
    background: var(--bg-col);
}

.editorContainer > .lineCounter span {
    counter-increment: linenumber;
}

.editorContainer > .lineCounter span::before {
    content: counter(linenumber);
    display: block;
}

.editorContainer > .editor {
    background: transparent;
    color: transparent;
    caret-color: var(--idle-text-col);
    resize: none;
    border: none;
    outline: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow: auto;
    tab-size: 2;
    padding-right: 0;
    padding-bottom: 0; /*I fucking hate CSS*/
}

.editorContainer > .editor::selection {
    background: #edffff38;
    color: var(--idle-text-col);
}

.editorContainer > .shownEditor::before {
    content: "";
    position: absolute;
    top: calc(1.5rem * (var(--current-line-ID) - 1));
    left: 0;
    width : 100vw;
    height : 1.5rem;
    margin-top: .5rem;
    background: #ffffff07;
}

.editorContainer > .shownEditor {
    background: var(--bg-col);
    color: var(--idle-text-col);
    padding-right: .6rem;
    padding-bottom: .6rem;
    white-space: nowrap;
}

.editorContainer > .editor.editor::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

.editorContainer > .editor::-webkit-scrollbar-track {
    background: #ffffff0e;
}

.editorContainer > .editor::-webkit-scrollbar-thumb {
    background: #ffffff15;
    border-radius: 2rem;
}

.editorContainer > .editor::-webkit-scrollbar-thumb:hover {
    background: #eeeeff30;
}

.editorContainer > .editor::-webkit-scrollbar-corner {
    background: #ffffff10;
}