*, *::before, *::after {
    box-sizing : border-box;
}

:root{
    --bg-col: #1c1c1e96;
    --bg-lighter-col: #7b08ff27;
    --lineCounter-nums-col: #506882;
    --idle-text-col: rgb(231, 231, 231);
    --keyword-col: rgb(255, 220, 80);
    --str-col: rgb(48, 253, 249);
    --num-col: rgb(227, 93, 207);
    --stackOp-col: rgb(68, 255, 54);
    --type-col: var(--stackOp-col);
    --apply-col: rgb(0, 129, 121);
    --instance-col: rgb(190, 143, 255);
    --comment-col: rgb(97, 96, 108);
    --console-bg-col: #1a1a1d;
    --error-col: #fd224b;
}

@font-face {
    font-family: Cleanmono;
    src: url(../ASSETS/FONT/Anonymous\ Pro\ B.ttf), url(../ASSETS/FONT/Anonymous\ Pro\ BI.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Cleanmono;
    font-size: 1rem;
    font-weight: bold;
    color: var(--idle-text-col);
    background: linear-gradient(to bottom, rgb(51, 23, 91), var(--lineCounter-nums-col) 130%);
}

body {
    display: flex;
    flex-direction: column;
}

button {
    border: 0;
}

/* GENERAL */
#gui-container {
    flex-grow: 0;
    width: 100%;
    height: 12%;
    padding: .5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.content-container {
    height: 88%;
}

.content-container, #editor-container {
    flex-grow: 1;
    display: flex;
}

#editor-container {
    flex-direction: column;
    position: relative;
}

.content-container > * {
    margin: .5rem;
    margin-top: 0;
}

input[type="text"] {
    font-weight: bold;
    color: var(--idle-text-col);
    padding: .25rem;
    outline: none;
}

/* OPEN FILES */
#openFiles-container {
    position: absolute;
    width: 100%;
    top: -2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#openFiles-container .fileTab {
    background: var(--bg-col);
    margin: 0;
    padding-inline: .75rem;
    padding-block: .5rem;
    border-radius: 1rem 1rem 0 0;
    font-weight: normal;
}

#openFiles-container .fileTab:not([saved]) {
    font-style: italic;
}

#openFiles-container .fileTab::before {
    content: "▼ ";
    font-size: .75rem;
}

#openFiles-container .fileTab:not([saved])::after {
    content: "*";
}

/* TEXT EDITOR */
#textEditor {
    --lineCounter-space : 3rem;
    --current-line-ID   : 1;
    --error-line-ID     : -10;

    position: relative;
    margin-right: .25rem;
    width : 100%;
    flex-grow: 1;
}

#textEditor > * {
    position: absolute;
    inset: 0;
    height : 100%;
    font-family: monospace;
    font-size  : 1rem;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .6rem;
    line-height: 1.5rem;
    overflow: hidden;
}

#textEditor > textarea, #shownEditor {
    width : 100%;
    padding-left: var(--lineCounter-space);
}

/* LINE COUNTER */
#lineCounter {
    width : calc(var(--lineCounter-space) * 0.8);
    text-align: right;
    padding-right: calc(var(--lineCounter-space) * 0.2);
    color: var(--lineCounter-nums-col);
    /*background: var(--bg-col)*/;
}

#lineCounter span {
    counter-increment: linenumber;
}

#lineCounter span::before {
    content: counter(linenumber);
    display: block;
}

/* SHOWN EDITOR */
#shownEditor::before {
    content: "";
    position: absolute;
    top: calc(1.5rem * (var(--current-line-ID) - 1));
    left: 0;
    width : 100vw;
    height : 1.5rem;
    margin-top: .5rem;
    background: #ffffff07;
}

#shownEditor::after {
    content: "";
    position: absolute;
    top: calc(1.5rem * (var(--error-line-ID) - 1));
    left: 0;
    width : 100vw;
    height : 1.5rem;
    margin-top: .5rem;
    background: #ff000022;
}

#shownEditor {
    background: var(--bg-col);
    color: var(--idle-text-col);
    padding-right: .6rem;
    white-space: nowrap;
}

#shownEditor > span {
    text-shadow: 0 0 .5rem;
}

/* REAL TEXT CONTAINER */
#textEditor > textarea {
    background: transparent;
    color: transparent;
    caret-color: var(--idle-text-col);
    resize: none;
    border: none;
    outline: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;
    padding-bottom: 0;
    tab-size: 2;
}

#textEditor > textarea::selection {
    background: #edffff38;
    color: var(--idle-text-col);
}

#textEditor > textarea::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

#textEditor > textarea::-webkit-scrollbar-track {
    background: #ffffff0e;
}

#textEditor > textarea::-webkit-scrollbar-thumb {
    background: #ffffff15;
    border-radius: 2rem;
}

#textEditor > textarea::-webkit-scrollbar-thumb:hover {
    background: #eeeeff30;
}

#textEditor > textarea::-webkit-scrollbar-corner {
    background: #ffffff10;
}