#gui-container > * {
    padding-bottom: .5rem;
}

.gui-btn {
    width: max-content;
    background-color: transparent;
    color: var(--idle-text-col);
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    padding-inline: 1rem;
    padding-block: .5rem;
    transition: background-color .3s ease-out;
}

.gui-btn:hover {
    background: var(--bg-lighter-col);
}

.gui-btn::before {
    width: 2rem;
    padding-top: .25rem;
}

/* DROPDOWN */
#menu-dropdowns-container {
    padding-bottom: 0;
    display: flex;
}

.dropdown {
    position: relative;
}

.dropdown-opts {
    width: 8rem;
    z-index: 2;
    background: var(--bg-lighter-col);
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
}

.dropdown:hover > .dropdown-opts {
    visibility: visible;
}

.dropdown-option {
    width: 100%;
    background: transparent;
    padding-block: .5rem;
    border: 0;
    color: var(--idle-text-col);
}

.dropdown-option:hover {
    background: var(--bg-lighter-col);
}